{% extends "teacher_layout.html" %}
{% from "macros.html" import page_header, change_password_form %}
{% block title %}Change Password{% endblock %}
{% block content %}
{{ page_header('Change Password','',
  [('Dashboard', url_for('teacher_dashboard')), ('Change Password','#')]) }}
<div class="row justify-content-center">
  <div class="col-md-6">
    {{ change_password_form(url_for('teacher_change_password'), 'success') }}
    <a href="{{ url_for('teacher_dashboard') }}" class="btn btn-secondary btn-block mt-3">
      <i class="fas fa-arrow-left mr-1"></i>Back to Dashboard
    </a>
  </div>
</div>
{% endblock %}
